
.table-title .btn {
    color: #fff;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    padding: 9px 15px;
    background: #198754;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}


.table-search form{
    float: right;
}


table.table tr th{
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    color: #83d8ae;
}

table.table tr th i{
    padding-left: 10px;
}

table.table tr th:first-child {
    width: 80px;
}
table.table tr th:last-child {
    width: 150px;
}


table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}

/*input.quoc{*/
/*    background: red;*/
/*}*/

/*input.quoc:focus{*/
/*    background: yellow;*/
/*}*/

/*#exampleModal {*/
/*    background-color: black;*/
/*}*/

.modal-title{
    color: #83d8ae;
}

.modal-content{
    /*background-image: linear-gradient(#000000 0%,#434343 100%);*/
    background-color: #181821;
    /*opacity: 0.75;*/
}
